
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

ul li {
    list-style: none;
}

.btn, .btn:hover, .btn:active {
    outline: none;
}


a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #4ECDC4;
    color: #fff;
}
::-moz-selection {
    background: #4ECDC4;
    color: #fff;
}
.font-size-14 { 
    font-size: 1.05rem;
}
ul li{
    outline: none;
    text-decoration: none;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 0px;
}
ul.dashboard li a{
    background: none;
    color: #ffffff;
}
ul.dashboard li a:hover, .selected{
    background: #ffffff !important;
    color: #000000 !important;
}
.content{
    margin-left: 250px;
}